<!DOCTYPE HTML>
<html>
<head>
<title>NMAM buses | about</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="js/bootstrap.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="js/jquery.min.js"></script>

</head>
<body>
<!-- header -->
<div class="header">
	 <div class="container">
		 <div class="headr-left">
			 <div class="social">							
					<a href="#"><i class="facebook"></i></a>
					<a href="#"><i class="pin"></i></a>	
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="headr-right">
			 <div class="details">
				 <ul>
					 <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>info(at)example.com</li>
					 <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(+1)000 123 456789</li>
				 </ul>
			 </div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!--banner-info-->	
<div class="banner-info">
	  <div class="container">
		  <div class="logo">
				 <h1><a href="/">NMAM Bus Pass</a></h1>
		  </div>
		 <div class="top-menu">
		     <span class="menu"></span>
				<ul class="nav1">
					 <li><a href="/">Home</a></li>
					 <li class="active"><a href="/about">About</a></li>
					 <li><a href="/contact">Contact Us</a></li>
					 <li><a href="/login">Log In / Sign Up</a></li>
			  </ul>
		 </div>	
<!-- script-for-menu -->
					<script>
						 $( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						// Animation complete.
							});
							});
					</script>
				<!-- /script-for-menu -->		 
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- banner -->
<div class="banner">		  			
		<div class="bnr2">						  
	   </div>			 
</div>
<!-- About -->
<div class="about">
	 <div class="container">
		 <h2>About</h2>
		 <div class="about-info-grids">
			 <div class="col-md-5 abt-pic">
				 <img src="images/shin.jpeg" class="img-responsive" alt=""/>
			 </div>
			 <div class="col-md-7 abt-info-pic">
				 <h3>History of NMAM Buses</h3>
				 <p>In order to cater to the transport needs of the travelling public of the then state of Mysore, Mysore Government Road Transport Department (MGRTD) was inaugurated with 120 buses on 12th September 1948.
The State Transport, which was being administered as a Department of the Govt. of Mysore was subsequently converted into an independent Corporation under Section 3 of the Road Transport Corporation Act,1950 on 1st of August 1961. The assets and liabilities of MGRTD except those of BTS unit as on 01-08-1961 were passed on to the new Corporation, which was named as MSRTC. The assets and liabilities of the residual MGRTD i.e. of BTS Unit were subsequently passed on to the Corporation on 1st of October 1961. Thus, a Corporation was ultimately established for the entire State of Mysore.
At the beginning, the passenger transport services were operated in 6 Divisions - 5 Divisions operating mofussil services and 1 Division operating city services of Bangalore. It had 37 Depots, 2 Regional Workshops and a Central Office at Bangalore. There were 15 permanent and 30 temporary bus stations with 35 ways ide shelters and 104 pick- up shelters. The total number of emplo yees deployed was 9705 and the s taff ratio per s chedule was 9.43. The total number of routes operated was 1065 with 1029 schedules and route length of 32,134 miles, average daily scheduled mileage being 127571. The total number of inter-state routes operated by the Corporation on a reciprocal basis with the neighbouring States were 40 ie., 29 in Maharashtra, 1 in Goa, 7 in Andhra Pradesh, 2 in Tamilnadu and 1 in Kerala. The total number of vehicles held was 1518 with average vehicle u tilisation of 123.8 miles. The average number of passengers carried per day was 4.35 lakh.The rate of breakdown was 1.88 and that of accident was 1.19. Earning per Mile (E PM ) realized was 161.6 Ps. , and Cost per Mile ( CPM ) was 127.2 Ps. , resulting in net profit margin of 34.4Ps/mil</p>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="testimonals">
				<h3>Bifurcation of NMAM:</h3>
				<div class="testimonal-grids">
					 <div class="col-md-4 testimonal-grid">
						 <div class="testi-info">
						 <p>To increase operational efficiency, to provide quality transport service to the traveling public and to have an effective supervision on the operations of the Corporation , the Government of Karnataka ordered for bifurcation of NMAM into 4 separate Corporation s vide its order No.HTD 127 TRA96 dated 22-02-1997.
Thus, NMAM was a monolithic State Road Transport Undertaking till 1996-97.  Thereafter, during the year 1997-98, the State Government divided NMAM and carved out two new Corporations, viz., the Bangalore Metropolitan Transport Corporation (BMTC) with its corporate office at Bangalore and the North West Karnataka Road Transport Corporation, with its corporate office at Hubli.  The Bangalore Metropolitan Transport Corporation which came into being on 15-08-1997 caters exclusively to the city of Bangalore.  And the North West Karnataka Road Transport Corporation which came into being with effect from 01-11-1997 caters to the north western districts of Karnataka. NWKRTC became financially independent w.e.f. 01-04-1998 under RTC  Act 1982. One more new Corporation called the North East Karnataka Road Transport Corporation was also established with effect from  15-08-2000 with its h ead q uarters at Gulbarga to cater to the northeastern districts of Karnataka, which beca me financially independent w.e.f.  01-10-2000. </p>
						 <h4>Present Status (as on 29-02-2020):</h4>
						 <a href="mailto:example@gmail.com">http://www.example.com</a>
						 </div>
					 </div>
					 <div class="col-md-4 testimonal-grid">
						 <div class="testi-info">
						 <p>NMAM has its Corporate office at Bangalore. Presently, it covers seventeen Districts (Bangalore Urban, Bangalore Rural, Ramanagar, Kolar, Chickballapur, Tumkur, Chitradurga,Davanagere, Shivamogga, Mangalore, Udupi, Chickmagalur, Hassan, Mysore, Mandya,Chamarajnagar, Coorg) in the State under its operational jurisdiction. The Corporation functions in 3 – tier system, i.e., Corporate office, Division office and Depots. There are totally 17 Divisions - 16 operating Divisions viz. Bangalore Central, Ramanagar, Tumkur, Kolar, Chickballapur, Mysore City, Mysore Rural, Mandya, Chamarajnagar, Hassan, Chickmagalur, Mangalore, Puttur, Davanagere, Shivamogga, Chitradurga and 1 bus station division viz., Kempegowda Bus Station at Bangalore. There are 83 Depots, 2 Regional Workshops, 1 Central Training Institute, 4 Regional Training Institutes, 1 Printing Press and 1 Hospital. NMAM has a workforce of about 38441 employees.It operates on an average 29.20 lakh kms daily with a fleet size of 8603 vehicles and earns traffic revenue of Rs. 894.65 lakh daily by catering to 30.12 lakh passengers on an average. It stands 5th amongst STUs in the nation by size.
</p>
						 <h4>Passenger Safety</h4>
						 <a href="mailto:example@gmail.com">https://NMAM.in</a>
						 </div>
					 </div>
					 <div class="col-md-4 testimonal-grid">
						 <div class="testi-info">
							<p>The following security measures are taken at Kempegowda Bus Stand for passenger safety:
								Karnataka State Road Transport Corporation is providing transport service in 17 districts of Karnataka. In most of these district head quarters, NMAM has operating divisions headed by a Divisional Controller. The property of NMAM is protected by its own well trained Security Staff assisted by Home guards. The Security and Vigilance Department of NMAM is headed by Director (Security and Vigilance) deputed from the Police Department of the rank of DIG and above.
								Bus stations of NMAM are vital place, from where the passengers arrive to board the bus to various destinations. NMAM has constructed, operated and managing 168 bus stations. These bus stations, apart from platforms for dispatching buses, is also providing commercial establishments, A Rest houses, Modern toilets, ATM cash counters, Telephone booths, A cloak room, Car & Two wheelers parking facilities.
								With thousands of passengers depart and arrive in these bus stations and being a vital public place, there is a possible threat from terrorists / Anti social elements. Apart from the threat, there is a need to prevent illegal activities such as Touts, Pick pocketers / Suitcase lifters, Beggars, Hawkers, Prostitutes in the bus stations.
								To prevent such activities, NMAM has deployed Security staff in its Major Bus stations. In Bangalore, it has 3 major bus stations, Kempegowda Bus Station, Mysore Road Bus Station, Byatarayanpura and Basaveswara Bus station, Peenya, likewise Ramanagar, Mandya, Mysore, Madikeri, Chamarajanagar, Mangalore, Puttur, Hassan, Udupi, Hassan, Chickmagalur, Shimoga, Davanagere, Chitradurga, Tumkur, Kolar and Chikkabalapur Districts have major bus stations.
								Currently the security staff deployed in the major bus stations has been trained by the police department. </p>
								<h4>Passenger Safety</h4>								 
							<a href="mailto:example@gmail.com">https://NMAM.in</a>
						
						 </div>
					 </div>
					 <div class="clearfix"></div>
				</div>
		   </div>
		   <div class="team">
			  <h3>Our Team</h3>	  
			  <div class="grid_4">
				<div class="team-grid">
						   <img src="images/cheej.jpg" alt="">
						   <h4>Shreeja H N</h4>
						  <p>USN: 4NM17CS172</p>
						  <p>Email: hnshreejamain13@gmail.com</p>
					  </div>
			  </div>
			  <div class="grid_4">
				 <div class="team-grid">
						   <img src="images/hasu.JPG" alt="">
						   <h4>Thasvi Shetty.</h4>
						  <p>USN: 4NM17CS201</p>
						  <p>Email: thasvishetty1@gmail.com</p>
					  </div>
			  </div>
			 <div class="clearfix"></div> 
		  </div>
	 </div>
</div>
<!-- footer -->
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-3 ftr-info">
				 <h3>Refund claims and procedure</h3>
				 <p>All refund claims shall be submitted by email to awatar@NMAM.org or to call center on 9449596666.
Refund claims shall be submitted by passengers within 30 days from the date of journey. Claims received after 30 days will not be considered.
For all refund claims, passengers need to provide PNR no. or copy of ETM ticket and detail their grievance / reasons for refund claim. Additional details/documents, will have to be submitted where felt necessary to decide the claim.
All refund claims will be verified by operating units before deciding refunds. The refund process will be completed within 15 days from the date of receiving the claim except claims where detailed investigations are required.</p>
			 </div>
			 <div class="col-md-3 ftr-grid">
				 <h3>Information</h3>
				 <ul class="ftr-list">	
					 <li><a href="/about">About Us</a></li>
					 <li><a href="/contact">Contact Us</a></li>					 
				 </ul>				 
			 </div>		
			 <div class="clearfix"></div>
		 </div>
	 </div>
	 <br>
	 <br>
</div>


</body>
</html>