<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Buss Pass - Book</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/home"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/book"><i class="fas fa-table"></i><span>Apply</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                           
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><img class="border rounded-circle img-profile" src="images/girl.png"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="/profile"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <a
                                            class="dropdown-item" role="presentation" href="/book"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Apply</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Apply For Pass</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Apply</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Source Point</th>
                                        <th>Destination Point</th>
                                        <th>Price</th>
                                        <th>validity</th>
                                        <th>Apply</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Udupi</td>
                                        <td>Mangalore</td>
                                        <td>300</td>
                                        <td>1 yr</td>
                                        <td><button class="btn btn-primary btn-sm"><a href="/b1" style="color: #fff;">Book</a></button></td>
                                    </tr>
                                    <tr>
                                        <td>Kundapur</td>
                                        <td>Udupi</td>
                                        <td>500</td>
                                        <td>1 yr</td>
                                        <td><button class="btn btn-primary btn-sm"><a href="/b2" style="color: #fff;">Book</a></button></td>
                                    </tr>
                                    <tr>
                                        <td>Kundapur</td>
                                        <td>Mangalore</td>
                                        <td>700</td>
                                        <td>1 yr</td>
                                        <td><button class="btn btn-primary btn-sm"><a href="/b3" style="color: #fff;">Book</a></button></td>
                                    </tr>
                                    <tr>
                                        <td>Udupi</td>
                                        <td>Karkala</td>
                                        <td>400</td>
                                        <td>1 yr</td>
                                        <td><button class="btn btn-primary btn-sm"><a href="/b4" style="color: #fff;">Book</a></button></td>
                                    </tr>
                                    <tr>
                                        <td>Kundapur</td>
                                        <td>Karkala</td>
                                        <td>600</td>
                                        <td>1 yr</td>
                                        <td><button class="btn btn-primary btn-sm"><a href="/b5" style="color: #fff;">Book</a></button></td>
                                    </tr>
                                    <tr>
                                        <td>Mangalore</td>
                                        <td>Karkala</td>
                                        <td>400</td>
                                        <td>1 yr</td>
                                        <td><button class="btn btn-primary btn-sm"><a href="/b6" style="color: #fff;">Book</a></button></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Source Point</th>
                                        <th>Destination Point</th>
                                        <th>Price</th>
                                        <th>validity</th>
                                        <th>Apply</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            if(<%= errno %>==1)
            {
                swal("Success!", "Booked!", "success");
            }
            if(<%= errno %>==2)
            {
                swal("Failed!", "Something went wrong!", "error");
            }
            if(<%= errno %>==3)
            {
                swal("Failed!", "Already Booked!", "error");
            }
        </script>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>