
<!DOCTYPE HTML>
<html>
<head>
<title>Bus Pass | contact</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="js/bootstrap.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="js/jquery.min.js"></script>

</head>
<body>
<!-- header -->
<div class="header">
	 <div class="container">
		 <div class="headr-left">
			 <div class="social">							
					<a href="#"><i class="facebook"></i></a>
					<a href="#"><i class="pin"></i></a>	
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="headr-right">
			 <div class="details">
				 <ul>
					 <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>info(at)example.com</li>
					 <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(+1)000 123 456789</li>
				 </ul>
			 </div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!--banner-info-->	
<div class="banner-info">
	  <div class="container">
		  <div class="logo">
				 <h1><a href="/">NMAM Bus Pass</a></h1>
		  </div>
		 <div class="top-menu">
		     <span class="menu"></span>
			  <ul class="nav1">
					 <li><a href="/">Home</a></li>
					 <li><a href="/about">About</a></li>
					 <li class="active"><a href="/contact">Contact Us</a></li>
					 <li><a href="/login">Log In / Sign Up</a></li>
			  </ul>
		 </div>	
<!-- script-for-menu -->
					<script>
						 $( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						// Animation complete.
							});
							});
					</script>
				<!-- /script-for-menu -->		 
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- banner -->
<div class="banner">		  			
		<div class="bnr2">						  
	   </div>			 
</div>
<!---->
<div class="contact">
	 <div class="container">
		 <div class="contact-head">
		 	 <h2>Contact</h2>
			  <form action="/con" method="post">
				  <div class="col-md-6 contact-left">
					<input type="text" class="text" name="w3lName" placeholder="Name" required>
					<input type="email" class="text" name="w3lSender" placeholder="Email" required>
					<input type="text" class="text" name="w3lSubject" placeholder="Subject" required>
				 </div>
				 <div class="col-md-6 contact-right">
						 <textarea placeholder="Message" name="w3lMessage"></textarea>
						 <input type="submit" value="SEND"/>
				 </div>
				 <div class="clearfix"></div>
			 </form>
		 </div>
		 <div class="contact-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12386182.960956775!2d-74.08302114251626!3d40.71866701702417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1436524193425" frameborder="0" style="border:0" allowfullscreen></iframe>
	     </div>
		 <div class="address">
			 <h3>Our Locations</h3>
			 <div class="locations">				 
				  <ul>
					 <li><span></span></li>					 					
					 <li>
						 <div class="address-info">	
							 <h4>New York, Washington</h4>
							 <p>10-765 MD-Road</p>
							 <p>Washington, DC, United States,</p>
							 <p>Phone: 123 456 7890</p>
							 <p>Mail: <a href="mailto:info@example.com">info(at)example.com</a></p>
							 <h5><a href="">Visit on Google Maps >></a></h5>	
						 </div>
					 </li>				
				  </ul>	
				  <ul>
					 <li><span></span></li>					 					
					 <li>
						 <div class="address-info">	
							 <h4>London, UK</h4>
							 <p>10-765 MD-Road</p>
							 <p>Lorem ipsum, domon sit, UK,</p>
							 <p>Phone: 123 456 7890</p>
							 <p>Mail: <a href="mailto:info@example.com">info(at)example.com</a></p>
							 <h5><a href="">Visit on Google Maps >></a></h5>	
						 </div>
					 </li>				
				  </ul>		
			 </div>			 
		 </div>		 
	 </div>
</div>

<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 ftr-info">
				<h3>About Us</h3>
				<p>Sed faucibus mollis laoreet. Sed vehicula faucibus tristique lectus a orci molestie finibus. 
				Suspendisse pharetra, metus sed rutrum pretium.</p>
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>Information</h3>
				<ul class="ftr-list">	
					<li><a href="/about">About Us</a></li>
					<li><a href="/contact">Contact Us</a></li>					 
				</ul>				 
			</div>		
			<div class="clearfix"></div>
		</div>
	</div>
	<br>
	<br>
</div>
<!---->



</body>
</html>