<!DOCTYPE HTML>
<html>
<head>
<title>Bus Pass | Home</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="js/bootstrap.js"></script>
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="js/jquery.min.js"></script>

</head>
<body>
<div class="top-banner">
	 <div class="header">
		 <div class="container">
			 <div class="headr-left">
				 <div class="social">							
						<a href="#"><i class="facebook"></i></a>
						<a href="#"><i class="pin"></i></a>	
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="headr-right">
				 <div class="details">
					 <ul>
						 <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>info(at)example.com</li>
						 <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(+1)000 123 456789</li>
					 </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
	 <div class="banner-info">
		  <div class="container">
			  <div class="logo">
					 <h1><a href="/">NMAM Bus Pass</a></h1>
			  </div>
			 <div class="top-menu">
				 <span class="menu"></span>
					<ul class="nav1">
						 <li class="active"><a href="/">Home</a></li>
						 <li><a href="/about">About</a></li>
						 <li><a href="/contact">Contact</a></li>
						 <li><a href="/login">Log In / Sign Up</a></li>
				  </ul>
			 </div>	
						<script>
							 $( "span.menu" ).click(function() {
							$( "ul.nav1" ).slideToggle( 300, function() {
							// Animation complete.
								});
								});
						</script>
					<!-- /script-for-menu -->
			 
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!-- banner -->
	 <!-- Slider-starts-Here -->
	 <script src="js/responsiveslides.min.js"></script>
	 <script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto:true,
			nav: false,
			speed: 500,
			namespace: "callbacks",
			pager:true,
		  });
		});
		
	   </script>
	 <div class="slider">
		  <div class="callbacks_container">
			  <ul class="rslides" id="slider">
				
					<div class="slid banner1">
						  <div class="caption">
								<h3>Bus Pass</h3>
								<p>Tired and sad updating about Fare Hikes, Finally July 2019’s Reduced Bus Fares brings Cheer and Joy. 
								Below is a huge fare cut for both AC & NON-AC (Regular) NMAM bus fares which also details (Daily Fares, Daily Monthly & Quarterly Pass, Student Concessions rate). 
								</p>
						  </div>
					</div>
				
				
					 <div class="slid banner2">	
						  <div class="caption">
								<h3>What Happened to Fares Till Date</h3>
								<p>Till last year 2019 the news of increasing NMAM bus fares, The loss making NMAM organization was expected for revised hiked fares which is already twice compared to last few years were in news and updated here. Last time in year 2016 the plans seemed & reversed with drop in ticket prices. Fare hiked for dedicated school bus services too.

Since 2005, NMAM buses  didn’t had fare hike, On 9th September 2010 the hike was done, Then as the 2011 passed and 2012 came the rates increased again, At end of 2013 the new revised and hiked approved and ticket rates increased. Upon getting approval from civic body’s standing committee and State transport Authority the stretched rates are implemented. Below are the old and latest new revised bus fare.</p>
						  </div>
					 </div>
				
				
					<div class="slid banner3">	
						<div class="caption">
							<h3>Reduced Bus Fares Starting 8th July 2019</h3>
							<p>As much as happy as you are to read about the NMAM bus fare cut (Both AC and Regular, Non-AC). Yes, Finally after years, i am happy to update about NMAM bus fares which are reduced to gain more commuters. The minimum fare till date (Sunday, 7th July 2019) were Rs.8 for Minimum 2 Km distance (Rs20 for AC Bus) which was hitting heavy to middle class pocket.

Below is the reduced / updated fare chart (2019) for easy reference.</p>
						</div>
					</div>
				
			  </ul>
		 </div>
	 </div>


<div class="x-box">
	 <div class="container">	
		 <div class="x-box_sec">
			 <div class="col-md-7 x-box-left">
				 <h2>New Fares For Dedicated School Bus Services For Students</h2>
				 <h3></h3>
				 <p>Monthly fares for school students of civic and private schools using dedicated NMAM bus services has been revised with 100% hike. This is something which was to be thought before going ahead of applying new fares for students within KMC and Outside KMC limits as not everyone can afford same. None of the citizen is happy with the decision as they see KMC and NMAM being not caring towards middle class by funding giant new projects utilizing more funds compare to giving relief to students by spending a little comparatively. Below are the revised fares for students using “DEDICATED BUS FACILITIES” by NMAM.</p>
				 <a class="hvr-bounce-to-top" href="/about">Read More</a>
			 </div>
			 <div class="col-md-5 x-box-right" style="text-align: center;">
				 <img style="width:500px;" src="images/bus.jpg" class="">
				 
			 </div>
			 <div class=""></div>
		 </div>
	 </div>
</div>

<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 ftr-info">
				<h3>About Us</h3>
				<p>Along with the rapid progress of Karnataka in all spheres of activity , NMAM buses has emerged as the best organisation in meeting the aspirations of Kannadigas and the people of neighbouring states of Karnataka.</p>
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>Information</h3>
				<ul class="ftr-list">	
					<li><a href="/about">About Us</a></li>
					<li><a href="/contact">Contact Us</a></li>					 
				</ul>				 
			</div>		
			<div class="clearfix"></div>
		</div>
	</div>
	<br>
	<br>
</div>
<!---->
</body>
</html>