
<!DOCTYPE HTML>
<html>
<head>
<title>Bus Pass | reset</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="js/bootstrap.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/style2.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/jquery.min.js"></script>

</head>
<body>
<div class="banner-info">
	  <div class="container">
		  <div class="logo">
				 <h1 style="margin-top: 0px;"><a href="/">Adventure Gaming</a></h1>
		  </div>
		 <div class="top-menu">
		     <span class="menu"></span>
			  <ul class="nav1">
					 <li><a href="/">Home</a></li>
					 <li><a href="/about">About</a></li>
					 <li><a href="/contact">Contact Us</a></li>
					 <li class="active"><a href="/login">Log In / Sign Up</a></li>
			  </ul>
		 </div>	
<!-- script-for-menu -->
					<script>
						 $( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						// Animation complete.
							});
							});
					</script>
				<!-- /script-for-menu -->		 
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- banner -->
<div class="banner">		  			
		<div class="bnr2">						  
	   </div>			 
</div>
<!---->
<div class="main" style="height: 500px;">
    <div class="login-top left">
                <br>
                    <form action="/reset" method="post">
                        <input type="text" name="email" class="email" placeholder="Your Email" required="">	
                        <input type="password" name="password" class="password" placeholder="Password" required="">
                        <input type="submit" value="RESET">
                    </form>
            </div>	
                
                
                    <div class="login-top right">
                        <h3>Reset Password</h3>
					 <br>
					 <br>
					 <br>
					 <br>
					 <br>
                    </div>
                <div class="clear"></div>
                <br>
                <br>
    </div>

<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 ftr-info">
				<h3>About Us</h3>
				<p>Sed faucibus mollis laoreet. Sed vehicula faucibus tristique lectus a orci molestie finibus. 
				Suspendisse pharetra, metus sed rutrum pretium.</p>
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>Information</h3>
				<ul class="ftr-list">	
					<li><a href="/about">About Us</a></li>
					<li><a href="/contact">Contact Us</a></li>					 
				</ul>				 
			</div>		
			<div class="clearfix"></div>
		</div>
	</div>
	<br>
	<br>
</div>
<!---->

<!---->
<script>
	if(<%= errno %>==1)
	{
		swal("Success!", "Password is Changed!", "success");
	}
	if(<%= errno %>==2)
	{
		swal("Failed!", "Something went wrong!", "error");
	}
	if(<%= errno %>==3)
	{
		swal("Failed!", "User Doesnt exits!", "error");
	}
</script>


</body>
</html>